doctype html

html
    head
        title Map | Stats | Bumper
    body
        h2 Bump Locations | Heatmap

        #bump(style="width: 500px; height: 500px; overflow: visible")

        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6iCq8QhkfLd7JmtZjzDBtKfdpNAOFYn8&libraries=visualization&sensor=true_or_false")
        script(type="text/javascript" src!="https://code.jquery.com/jquery-2.1.4.min.js")
        script.
            function generateMapData() {
                var mapData = [];
                $.post('/stats/api/bumplocations', '', function(bumps){
                    if (bumps.length){
                        for (var i = 0; i < bumps.length; i++) {
                            var bump = bumps[i];
                            if (bump.centerX){
                                console.log(bump.centerX + " " + bump.centerY);
                                var bumpLocation = new google.maps.LatLng(bump.centerX, bump.centerY);
                                console.log(bumpLocation);
                                mapData.push(bumpLocation);
                            }
                        }
                    }
                });
                return mapData;
            }
            function initMap(){
                var brisbane = new google.maps.LatLng(-27.466, 153);
                var mapData = generateMapData();
                console.log(mapData);

                var map = new google.maps.Map(document.getElementById('bump'), {
                    center: brisbane,
                    zoom : 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });

                var heatmap = new google.maps.visualization.HeatmapLayer({
                    data: mapData,
                    map : map
                });
            }
            google.maps.event.addDomListener(window, "load", initMap);

